$black: #000000;
$white: #ffffff;
$violet:#ee82ee; // title
$olive:#6b8e23; // main menu background
$dark-olive: #556b2f; // second menu background
$light-olive: #d5fa93; // title background
$beige: #f5f5dc; // main background
$light-beige: #f5f5e6; // body background color
$dark-beige: hsl(60, 84%, 85%); //footer background color
$light-grey: lightgrey;  // commands background
