@font-face {
    font-weight: 400;
    font-family: MainFont;
    src: url("fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-weight: 700;
    font-family: MainFont;
    src: url("fonts/OpenSans-Bold.ttf");
}


@font-face {
    font-weight: 300;
    font-family: MainFont;
    src: url("fonts/OpenSans-Light.ttf");
}

@font-face {
    font-weight: 500;
    font-family: MainFont;
    src: url("fonts/OpenSans-Medium.ttf");
}

@font-face {
    font-weight: 400;
    font-family: SecondFont;
    src: url("fonts/KodeMono-Regular.ttf");
}

@font-face {
    font-weight: 700;
    font-family: SecondFont;
    src: url("fonts/KodeMono-Bold.ttf");
}


@font-face {
    font-weight: 500;
    font-family: SecondFont;
    src: url("fonts/KodeMono-Medium.ttf");
}

@font-face {
    font-weight: 600;
    font-family: SecondFont;
    src: url("fonts/KodeMono-SemiBold.ttf");
}