.root {
  position: static;
  border: 2px solid #90caf9;
  left: 3em;
} 
.b {
  position: absolute;
  background-color: #8d6e63;
  left: 3em;
} 
.root>* {
  padding: .5em;
} 
body {
  color: #fff;
  font-family: Menlo,
    "Ubuntu Mono", Consolas,
    source-code-pro, monospace;
  font-size: 13px;
} 